---
import "../css/global.css"
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.png" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>App Download</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <section id="hero">
         <!-- Hero Container -->
         <div class="section-container px-10 md:mb-32">
            <!-- Logo -->

            <img class="mx-auto my-12" src="/images/logo.svg" alt="logo" />

            <!-- H1 -->
            <h1>A history of everything you copy</h1>

            <!-- Paragraph -->
            <p class="hero-p">
               Clipboard allows you to track and organize everything you copy.
               Instantly access your clipboard on all your devices.
            </p>

            <!-- Button Container -->
            <div class="button-container">
               <a href="#" class="btn bg-strongCyan"> Download for IOS</a>

               <a href="#" class="btn bg-lightBlue"> Download for Mac</a>
            </div>
         </div>
      </section>

      <!-- Sub Hero Section -->

      <section id="sub-hero">
         <!-- Sub Hero Container -->
         <div class="section-container">
            <!-- H1 -->
            <h1>Keep track of your snippets</h1>

            <!-- Paragraph -->
            <p class="main-p">
               Clipboard instantly stores any item you copy in the cloud,
               meaning you can access your snippets immediately on all your
               devices. Our Mac and iOS apps will help you organize everything.
            </p>
         </div>
      </section>

      <!-- Features Section -->

      <section id="features">
         <div class="section-container">
            <!-- Flex Container for 2 Items -->
            <div class="relative flex flex-col md:flex-row md:space-x-32">
               <!-- Image -->
               <div class="md:w-1/2">
                  <img
                     class="right-[50%] top-0 md:absolute"
                     src="/images/image-computer.png"
                     alt="Computer Image"
                  />
               </div>

               <!-- Individual Features Container -->
               <div
                  class="mx-auto mb-24 mt-16 flex flex-col space-y-12 text-xl md:mb-60 md:w-1/2 md:text-left"
               >
                  <!-- Feature 1 -->
                  <div>
                     <h2>Quick Search</h2>
                     <p class="max-w-md text-grayishBlue">
                        Easily search your snippets by content, category, web
                        address, application, and more.
                     </p>
                  </div>

                  <!-- Feature 2 -->
                  <div>
                     <h2>iCloud Sync</h2>
                     <p class="max-w-md text-grayishBlue">
                        Instantly saves and syncs snippets across all your
                        devices.
                     </p>
                  </div>

                  <!-- Feature 3 -->
                  <div>
                     <h2>Complete History</h2>
                     <p class="max-w-md text-grayishBlue">
                        Retrieve snippets from the first moment you start using
                        the app.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <!-- Showcase Feature Section -->

      <section id="showcase-feature">
         <div class="section-container">
            <h1>Access Clipboard Anywhere</h1>
            <p class="main-p">
               Whether you are on the go, or at your computer, you can access
               all your Clipboard snippets in a few simple clicks.
            </p>

            <img
               src="/images/image-devices.png"
               alt="Mobile Devices"
               class="mx-auto"
            />
         </div>
      </section>

      <!-- Features with Icons Section -->

      <section id="features-with-icons">
         <div class="section-container">
            <!-- title and subtitle -->

            <h1>Supercharge your workflow</h1>
            <p class="main-p">
               We've got the tools to boost your productivity.
            </p>

            <!-- Features Container -->

            <div
               class="mt-16 flex flex-col items-center justify-between space-y-16 md:flex-row md:space-x-12 md:space-y-0"
            >
               <!-- Item 1 -->
               <div class="flex flex-col items-center space-y-5">
                  <img src="/images/icon-blacklist.svg" alt="blacklist" />
                  <h2>Create Blacklists</h2>
                  <p class="max-w-xs text-grayishBlue">
                     Easily search your snippets by content, category, web
                     address, application, and more.
                  </p>
               </div>

               <!-- Item 2 -->
               <div class="flex flex-col items-center space-y-5">
                  <img src="/images/icon-blacklist.svg" alt="blacklist" />
                  <h2>Plain Text Snippets</h2>
                  <p class="max-w-xs text-grayishBlue">
                     Remove unwanted formatting from copied text for a
                     consistent look.
                  </p>
               </div>

               <!-- Item 3 -->
               <div class="flex flex-col items-center space-y-5">
                  <img src="/images/icon-blacklist.svg" alt="blacklist" />
                  <h2>Sneak Preview</h2>
                  <p class="max-w-xs text-grayishBlue">
                     Quick preview of all snippets on your Clipboard for easy
                     access.
                  </p>
               </div>
            </div>
         </div>
      </section>

      <!-- References Section -->

      <section id="references">
         <div
            class="mx-auto mb-20 flex max-w-6xl flex-col items-center justify-between space-y-16 px-10 md:flex-row md:space-y-0"
         >
            <img src="/images/logo-google.png" alt="" />
            <img src="/images/logo-ibm.png" alt="" />
            <img src="/images/logo-microsoft.png" alt="" />
            <img src="/images/logo-hp.png" alt="" />
            <img src="/images/logo-vector-graphics.png" alt="" />
         </div>
      </section>

      <!-- Last CTA Section -->

      <section id="last">
         <div class="section-container">
            <h1>Clipboard for iOS and MacOS</h1>
            <p class="main-p">
               Available for free on the App Store. Download for Mac or iOS,
               sync with iCloud and you're ready to start adding to your
               clipboard.
            </p>
            <div class="button-container">
               <a href="#" class="btn bg-strongCyan"> Download for IOS</a>

               <a href="#" class="btn bg-lightBlue"> Download for Mac</a>
            </div>
         </div>
      </section>

      <!-- Footer -->

      <section class="bg-slate-100" id="footer">
         <div class="mx-auto max-w-6xl p-10 text-center">
            <!-- Flex Container -->
            <div class="flex flex-col items-center justify-between md:flex-row">
               <!-- Image -->
               <img class="scale-50" src="/images/logo.svg" alt="" />

               <!-- Menu and Socials Container -->
               <div
                  class="mb-10 flex flex-1 flex-col items-center justify-between space-y-6 text-grayishBlue md:mb-0 md:flex-row md:space-y-0"
               >
                  <!-- Menus Container -->
                  <div
                     class="flex flex-col space-y-4 md:ml-16 md:flex-row md:space-x-10 md:space-y-0"
                  >
                     <!-- Menu 1 -->
                     <div
                        class="flex flex-col space-y-4 text-center md:text-left"
                     >
                        <div>
                           <a class="hover:text-strongCyan" href="#">FAQs</a>
                        </div>
                        <div>
                           <a class="hover:text-strongCyan" href="#">Contact</a>
                        </div>
                     </div>

                     <!-- Menu 2 -->
                     <div
                        class="flex flex-col space-y-4 text-center md:text-left"
                     >
                        <div>
                           <a class="hover:text-strongCyan" href="#">Terms</a>
                        </div>
                        <div>
                           <a class="hover:text-strongCyan" href="#">Privacy</a>
                        </div>
                     </div>

                     <!-- Menu 3 -->
                     <div
                        class="flex flex-col space-y-4 text-center md:text-left"
                     >
                        <div>
                           <a class="hover:text-strongCyan" href="#">Careers</a>
                        </div>
                     </div>
                  </div>

                  <!-- Socials Container -->
                  <div class="flex w-36 flex-row justify-between py-1 md:pr-10">
                     <a href="#"
                        ><img
                           class="socials duration-200"
                           src="/images/icon-instagram.svg"
                           alt=""
                        /></a
                     >
                     <a href="#"
                        ><img
                           class="socials duration-200"
                           src="/images/icon-twitter.svg"
                           alt=""
                        /></a
                     >
                     <a href="#"
                        ><img
                           class="socials duration-200"
                           src="/images/icon-facebook.svg"
                           alt=""
                        /></a
                     >
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
