---
import "../css/global.css"
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.png" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>App Download</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <section id="hero">
         <!-- Hero Container -->
         <div class="section-container px-10 py-10 md:mb-32">
            <!-- Logo -->

            <img class="mx-auto my-12" src="/images/logo.svg" alt="logo" />

            <!-- H1 -->
            <h1>A history of everything you copy</h1>

            <!-- Paragraph -->
            <p class="main-p">
               Clipboard allows you to track and organize everything you copy.
               Instantly access your clipboard on all your devices.
            </p>

            <!-- Button Container -->
            <div class="button-container">
               <a href="#" class="btn bg-strongCyan"> Download for IOS</a>

               <a href="#" class="btn bg-lightBlue"> Download for Mac</a>
            </div>
         </div>
      </section>

      <!-- Sub Hero Section -->

      <section id="sub-hero">
         <!-- Sub Hero Container -->
         <div class="section-container px-10">
            <!-- H1 -->
            <h1>Keep track of your snippets</h1>

            <!-- Paragraph -->
            <p class="snippets-p">
               Clipboard instantly stores any item you copy in the cloud,
               meaning you can access your snippets immediately on all your
               devices. Our Mac and iOS apps will help you organize everything.
            </p>
         </div>
      </section>

      <!-- Features Section -->

      <section id="features"></section>
   </body>
</html>
