@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-image: url("/images/bg-header-desktop.png");
   background-repeat: no-repeat;
   background-size: contain;
}

@media (max-width: 576px) {
   body {
      background-image: url("/images/bg-header-mobile.png");
   }
}

@layer base {
   h1 {
      @apply mb-8 text-4xl font-semibold capitalize text-darkGrayishBlue md:text-5xl;
   }
}

.section-container {
   @apply mx-auto mb-20 max-w-6xl p-10 text-center;
}

.main-p {
   @apply mx-auto mb-10 max-w-3xl text-2xl text-grayishBlue;
}

.snippets-p {
   @apply mx-auto mb-10 max-w-3xl text-center text-xl leading-9 text-grayishBlue;
}

.button-container {
   @apply flex w-full flex-col justify-center space-y-5 text-xl text-white md:flex-row md:space-x-5 md:space-y-0;
}

.btn {
   @apply rounded-full px-8 py-4 shadow-lg duration-200 hover:opacity-70;
}
